* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

body {
    background-color: #ebebeb;
}

/* header */

header {
    background-color:#EAC926;
    padding: 15px;
}
.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.Logo {
    max-width: 130px;
}
.search {
    align-self: center;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: white;
}
.search input {
    padding: 8px;
    border: none;
}
.copy-header{
    /* font-weight: 100; */
    font-size: 12px;
    margin: 15px auto;
}
.hamburguer-button {
    background-color: #03264C;;
    color: white;
    display: block;
    max-width: 40px;
    padding: 12px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
    margin: auto;
}
.list-header {
    display: none;
}

.list-header ul {
    list-style: none;
}
.list-header a {
    text-decoration: none;
    color: #222222;
    /* display: inline-block;
    padding: 3px 0; */
    font-size: 13px;
}

/* main */

.formulario {
    padding: 15px;
}
.campo-form, .campo-form2 , .campo-form3 , .campo-form4 , .campo-form5 {
    width: 80%; 
    margin: auto;
    margin-bottom: 15px;
}

.campo-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
}
.campo-form input , .campo-form5 input {
    padding: 5px;
    border: white;
    border-radius: 5px;
    width: 100%;
}
.campo-form2 input {
    margin: 0px 10px;
}
.campo-form2 label, .campo-form3 label, .campo-form4 label {
    font-size: 15px;
}
.checkbox {
    display: inline-block;
    padding: 5px;
}
.campo-form4 input {
    margin: 10px 0px;
}
.campo-form5 button {
    width: 25%;
    padding: 8px;
    display: block;
    border-radius: 5px;
    margin: auto;
    background-color: rgba(13, 13, 126, 0.726);
    color: white;
}


/* footer */

footer {
    background-color: white;
    margin: 10px;
    padding: 5px;

}

.item-footer i {
    color: #0151a7;
    padding: 15px 0;
    font-size: 40px;
}

.item-footer {
    padding: 10px 12px;
    text-align: center;
    margin-bottom: 15px;
}
.item-footer h3 {
    font-size: 18px;
}
.item-footer p {
    font-size: 15px;
}

@media (min-width:768px) {
    .Logo {
        max-width: none;
        width: 25%;
    }

    .top-header {
        justify-content: space-between;
    }
    .copy-header {
        margin: 0;
        display: flex;
        align-self: center;
    }
    .list-header {
        display: flex;
        justify-content: space-between;
        margin: 10px 0px;
    }
    .list-header ul {
        display: flex;
        justify-content: space-around; 
    }
    .list-header li {
        margin: 0px 7px;
    }
    .hamburguer-button {
        display: none;
    }

    /* main */

    .formulario {
        max-width: 60%;
        margin: auto;
    }

}

@media (min-width:1200px) {

    /* header */

    .Logo {
        width: 250px;
   }    
   
   .top-header, .list-header {
       max-width: 1100px;
       margin: auto;
       align-items: center;
   }
   .search input {
       font-size: 16px;
   }
   .copy-header {
       max-width: none;
       font-size: 18px;
       /* font-weight: 400; */
   }

   .list-header {
       margin-top: 30px;
   }

   .list-header li {
       margin: 0 10px;
   }
   .list-header a {
       font-size: 19px;
   } 

   .Banner {
       width: 100%;
   }

   /* main */

   .formulario {
    margin: 20px auto;
    border-radius: 10px;
    max-width: 40%;
    background-color: rgba(128, 128, 128, 0.349);
   }
   .campo-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    }
    .campo-form2 label , .campo-form3 label, .campo-form4 label {
        font-size: 18px;
    }
}