<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com_ajax_libs_font-awesome_5.15.3_css_all.min.css" rel="stylesheet">
    <link href="stylesheet" rel="/css/normalize.css">
    <link rel="stylesheet" href="/css/form.css"/>
    <script src="https://kit.fontawesome.com/d6458ce523.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <div class="top-header">
          <img src="./images/logo-mercado-liebre.svg" class="Logo">
            <span class="search">
              <input type="text" name="input" placeholder="Buscar, producto, marcas">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          <h4 class="copy-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        </div>
             
        <nav class="list-header">
          <ul>
              <li><a href="#">Ofertas</a></li>
              <li><a href="#">Tiendas Oficiales</a></li>
              <li><a href="#">Vender</li>
              <li><a href="#">Ayuda</a></li>
          </ul> 

          <ul>
            <li><a href="#">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a></li>
            <li><a href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
            <li><a href="#">Mis compras <i class="fa-solid fa-basket-shopping"></i></a></li>
          </ul>
        </nav> 
        <div class="menu-hambur">
          <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i> 
          </a>
        </div>
          
      </header>

    <main class="reg">
        <form action="/" method="get" class="formulario">
            <div class="campo-form">
              <label for="usuario"> Nombre de Usuario</label>
              <input class="" type="text" name="usuario" placeholder="Nombre de Usuario">
              <br><br>
              <label for="contraseña">Contraseña</label>
              <input class="register" type="text" name="contraseña" placeholder="Elegí tu contraseña">
            </div>
            <div class="campo-form5">
              <button class="boton" type="submit" value="loguear">Loguear</button>
            </div>     
        </form>
    </main>

    <footer>
        <nav>
          <div class="item-footer">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Paga con tarjeta o efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>
          <div class="item-footer">
            <i class="fa-solid fa-gift"></i>
            <h3>Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          </div>
          <div class="item-footer">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, desde principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
          </div>
          <div>
              <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5> 
          </div>
        </nav>
    </footer>
    
    </body>
    </html>